<h1>Create post</h1>

<form action="/posts" method="post">
  <p>Title: <input type="text" name="post[title]"></p>
  <p>Description: <input type="text" name="post[description]"></p>
  <p>User_id: <input type="number" name="post[user_id]"></p>
  <input type="submit" value="Create post">
</form>