<h1>Create item</h1>

<form action="/items" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>Description: <input type="text" name="description"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Count: <input type="number" name="count"></p>
  <p>Image: <input type="text" name="image"></p>
  <input type="submit" value="Create item">
</form>
