<h1>Create user</h1>

<form action="/users/new" method="post">
	<p>Name: <input type="text" name="users[name]"></p>
	<p>Age: <input type="text" name="users[age]"></p>
	<input type="submit" value="Create user">
</form>
