<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/users">Users</a></li>

      <% if logged_in? %>
        <li>
          <a href="#">Hi, <%= current_user.login %></a>
          <ul class="menu vertical">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>

        </ul>
        <% else %>
          <li><a href="/sign_in">Sign in</a></li>
          <li><a href="/sign_up">Sign up</a></li>
        <% end %>
    </ul>
  </div>
</div>