<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/users">Users</a></li>

      <% if logged_in? %>
        <li>
          <a href="#">Hi, <%= current_user.login %></a>
          <ul class="menu vertical">
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><a href="/users/<%= current_user.id %>/edit">Edit</a></li>
            <li><a href="/logout">
                <form action="/logout" method="post">
                  <%= Rack::Csrf.tag(env) %>
                  <input name='_method' type='hidden' value='delete' />
                  <input type="submit" class="button tiny" value="Logout">
                </form>
            </a></li>
          </ul>
        </li>

        </ul>
        <% else %>
          <li><a href="/sign_in">Sign in</a></li>
          <li><a href="/sign_up">Sign up</a></li>
        <% end %>
    </ul>
  </div>
</div>