<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/cart">Cart (<%= @cart.count %>)</a></li>
    </ul>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p><%= error %></p>
    <% end %>
<% end %>
    
    <%= yield %>
  </body>
</html>
