<h1>Create book</h1>

<form action="/books" method="post">
  <p>Title: <input type="text" name="book[title]"></p>
  <p>Price: <input type="text" name="book[price]"></p>
  <p>Count: <input type="integer" name="book[count]"></p>
  <input type="submit" value="Create book">
</form>
