<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
