<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>

      <% if @cart %>
        <% if @cart.empty? %>
          <li><a href="/cart">You cart is empty.</a></li>
        <% end %>
      <% end %>
      
    </ul>
    <%= yield %>
  </body>
</html>
