<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>

      <% if @cart %>
        <% if @cart.empty? %>
          <li><a href="/carts">You cart is empty.</a></li>
        <% else %>
          <li><a href="/carts">You have <%= @cart.count %> items.</a></li>
        <% end %>
      <% end %>
      
    </ul>

<% if flash[:notice] %>
  <div class="success callout" data-closable>
    <p><%= flash[:notice] %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert callout" data-closable>
    <% flash[:error].each do |error| %>
      <p><%= error %></p>
    <% end %>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
     </button>
  </div>
<% end %>
    
    <%= yield %>
  </body>
</html>
