<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <div>
      <a href="/">Home</a> | 
      <a href="/posts">Posts</a>
    </div>

    <div>
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
     <% if flash[:error] %>
       <% flash[:error].each do |error| %>
         <p class="alert alert-error"><%= error %></p>
       <% end %>
     <% end %>
    </div>

    <%= yield %>
  </body>
</html>
