<h1>Sign up</h1>

<form action="sign_up" method="post">
  <p>User id: <input type="text" name="user[user_id]"></p>
  <p>Email: <input type="text" name="user[email]"></p>
  <p>Password: <input type="text" name="user[email]"></p>
  <input type="submit" value="Sign_up">
</form>