<form action="/items/new" method="post">
  <p>Name: <input type="text" name="item[name]"></p>
  <p>Description: <input type="text" name="item[description]"></p>
  <p>Price: <input type="text" name="item[price]"></p>
  <input type="submit" value="Create item">
</form>
